.header {
  color: rgb(255, 64, 0);
}

.img {
  width: 100%;
}

.active {
  border: 2px solid rgba(0, 64, 255, 0.003);
}

.invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

input:invalid {
  border: 2px solid orange;
}
